{% extends 'base.html' %}
{% block title %} Contact {% endblock title %}
{% block body %}
<div class="container-fluid px-0 my-1 mb-3">
<img src="https://source.unsplash.com/1200x400/?phone,contact" class="d-block w-100 mx-0" alt="...">
<h1 class="text-center">Contact Us</h1>
</div>
<div class="container my-1 mb-3">
<form method="post" action="/contact">
{% csrf_token %}
  <div class="mb-3">
    <label for="name" >name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
   
  </div>
  <div class="mb-3">
    <label for="email" >E-mail Address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your email">
  </div>
  <div class="mb-3">
    <label for="phone" >phone</label>
    <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your phone number">
   
  </div>
  <div class="mb-3">
    <label for="desc" >Tell me about What you want to contact me for.....</label>
    <textarea class="form-control" id="desc" rows="3" name="desc" ></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock body %}